<!doctype html>
<html>
<head>

<style>

.area_wrap li { margin-bottom: 12px; }

</style>

</head>
<body>
<div class="top_bar">
  <p><b>#! - Selfie Lunch</b> Concepts' Page '</p>
  <hr />
</div><!-- - . top_bar - -->
<main>
	<code>- main</code>
	<div class="area_wrap">
		<p><b>_ Our Concepts . .</b><ul>
			<li>_ Loco Moco Bus &nbsp; <button>Open</button></li>
			<li>_ Kitchen Page &nbsp; <button>Open</button></li>
			<li>_ Honolulu Lemonade &nbsp; <button>Open</button></li>
			<li>_ Focaccia Hands &nbsp; <button>Open</button></li>
		</ul></p>
	</div><!-- - . area_wrap - -->
	<div class="area_wrap">
		<p><b>_ Our Courses . .</b><ul>
			<li>_ CSS Layout &nbsp; <button>Open</button></li>
			<li>_ Culniary Manager &nbsp; <button>Open</button></li>
			<li>_ Food Handler &nbsp; <button>Open</button></li>
			<li>_ System Administrator &nbsp; <button>Open</button></li>
			</ul></p>
	</div><!-- - . area_wrap - -->
		
	<br />
	<hr />
	<br />
		
	
<div>
	<h1>{{.PageTitle}}</h1>
	<h1>{{.PageName}}</h1>
	<h1>{{.PagePath}}</h1>

<p><ul class="navList_data">    {{range .SOSNav}}
<li>+ {{.Title}} &nbsp;{{if .Done}} <button onClick="changePage('{{.Title}}')">Open</button>
   {{else}}
    <button onClick="closePage('{{.Title}}')">Close</button>
     {{end}}
</li>
    {{end}}
</ul></p>	
		
<div>
	{{.PageLayout}}
	</div>
		
</main>

<script>

function changePage(pageName) {
  window.location.href = "/page/" + pageName;
};


</script>
<br />
<hr />
<br />
<footer>
	<code>- footer</code>
</footer>
</body>
</html>